body {
  margin: 0px;
}

#parentDiv {
  display: flex;
  flex-direction: row;
}

.dialog-console {
  border: 3px black solid;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-family: sans-serif;
}

.percentageBar {
  padding: 10px;
}

.instruction {
  padding-left: 20px;
  font-style: italic;
}
