body {
  margin: 0px;
}
.dialog-console {
  position: fixed;
  top: 0;
  right: 0;
  width: 330px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-family: sans-serif;
}

.percentageBar {
  padding: 10px;
}

.instruction {
  padding-left: 20px;
}
